body {
  margin: 5%;
  padding-left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  justify-content: center;
}

.entry-date-text {
  font-size: smaller;
  font-style: italic;
}

.title {
  color: rgb(58, 58, 169);
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox,
.title-textbox {
  width: 20em;
  height: 10em;
  padding: 1em;
  border-radius: 25px;
  margin-bottom: 0.5em;
  border: unset;
  background-color: rgba(94, 94, 226, 0.122);
  font-family: monospace;
}
.title-textbox {
  height: auto;
}

.entry-textbox:focus {
  outline: none;
}

#entry-form {
  margin-bottom: 20px;
}

#entries {
  width: 30em;
  height: auto;
  padding: 1em;
  border-radius: 25px;
  margin-bottom: 0.5em;
  border: unset;
  background-color: rgb(58, 58, 169);
  color: whitesmoke;
}

#entries-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

.entry-title {
  margin: 4px;
  text-align: center;
  border: 2px solid whitesmoke;
  width: 65%;
  margin: auto;
}

.button {
  color: whitesmoke;
  background-color: rgb(58, 58, 169);
  padding: 7px 7px;
  border-radius: 25px;
  border: unset;
  margin-left: 15em;
}
.button:hover,
.nav-button {
  cursor: pointer;
}

.nav-button {
  border-radius: 5px;
  border: unset;
  margin: 2px;
  padding: 3px;
  background-color: rgba(141, 141, 247, 0.843);
  color: inherit;
  border: 2px solid rgb(100, 214, 255);
}
