body {
  margin: 5%;
  padding-left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  color: rgb(58, 58, 169);
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  width: 20em;
  height: 10em;
  padding: 1em;
  border-radius: 25px;
  margin-bottom: 0.5em;
  border: unset;
  background-color: rgba(94, 94, 226, 0.122);
}

.entry-textbox:focus {
    outline: none;
}

#entry-form {
    margin-bottom: 20px;
}

#entries {
    width: 20em;
    height: 10em;
    padding: 1em;
    border-radius: 25px;
    margin-bottom: 0.5em;
    border: unset;
    background-color:  rgb(58, 58, 169);
    color: whitesmoke;
}

.button {
    color: whitesmoke;
    background-color: rgb(58, 58, 169);
    padding: 7px 7px;
    border-radius: 25px;
    border: unset;
    margin-left: 15em;
}
.button:hover {
    cursor: pointer;
}
